body {
    background-color: #f4e872;
    margin: 0;
    padding: 0;
}
header {
    background-color: #f4e872;
    color: #805315;
    padding: 1rem; 
    text-align: center;
}
main {
    padding: 2rem;
}
section {
    margin-bottom: 2rem;
}
footer {
    position: fixed; width: 100%; bottom: 0; 
}
img {
    border-radius:30px;
    height:200px;
    float:center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li {
  float: left;
}
li a {
  display: block;
  color: lightblue;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
    color:blue;
}
@font-face {
font-family:'rosalie';
src: url(https://dl.dropbox.com/s/xqlz6p59syect4a/rosalie.regular.otf);
 
}
 
h1, div, h2, p, h3, a, h4, h5, h6 {
font-family:'rosalie';
font-size: 2em;
float:center;
}

* {
    scrollbar-width: auto;
    scrollbar-color: #805315;
}
*::-webkit-scrollbar {
    width: 22px;
}

*::-webkit-scrollbar-track {
    background: #4f4f4f;
}

*::-webkit-scrollbar-thumb {
    background-color: #805315;
    border-radius: 9px;
    border: 14px solid #ffffff;
}
 
